/**
 * This file contains the styles required to make the footer sticky.
 */

html,
body {
    height: 100%;
}

#page-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(90deg, #001042, #022a5d);
    #page {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        #page-content {
            flex: 1 0 auto;
        }
    }
    #page-footer {
        display: none;
        flex-shrink: 0;
        background-image: linear-gradient(90deg, #001042, #022a5d);
    }
}
